@model OWZX.Web.Models.SafeVerifyModel
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>

        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="~/newstatic/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="~/newstatic/css/common.css" />
        <link rel="stylesheet" type="text/css" href="~/newstatic/css/back.css" />
        <link rel="stylesheet" type="text/css" href="~/newstatic/css/footer.css" /> 

        <script src="~/newstatic/js/jquery-1.11.3.min.js"></script> 
    </HEAD>

    <BODY>
        <header>
            <h2><span onclick="history.go(-1)"><i class="icon"></i></span>收款账户</h2>
        </header>
        <div class="headblank"></div>
        <div class="ch-head">
            <table class="cha">
                <tr>
                    <th>类型</th>
                    <th>姓名</th>
                    <th>账户</th>
                </tr>
            </table>
        </div>
        <div class="main table">
            <table class="cha content"> 
            </table>
            <a class="btn" style="width:80%;margin:2em auto;display:block;" href='/UCenter/AddBank'>添加收款账户</a>

        </div>
        <!-- 底部导航 -->
        @Html.Partial("_footer")
        <!-- 底部导航 --> 
    <script type="text/javascript">
        $(function ()
        {
            $('.footer a').removeClass("ft-on");
            $('.footer a:eq(4)').addClass("ft-on");
            $('.footer img').each(function ()
            {
                $(this).attr("src", $(this).attr("src").replace("1.", "."))

            })
            $('.footer img:eq(4)').attr("src", $('.footer img:eq(4)').attr("src").replace(".", "1."));
        });
        $(function() {
            $.post('/AppAccount/GetDrawAccount', function(data) {
                var result = eval('(' + data + ')');
                if (result.state == "success") {
                    var html = "";
                    for (var i = 0; i < result.biz_content.length; i++) {
                        html += '<tr><td><a href="/UCenter/AddBank?id=' + result.biz_content[i].drawaccid + '">' + result.biz_content[i].card + '</a></td>' +
                            '<td><a href="/UCenter/AddBank?id=' + result.biz_content[i].drawaccid + '">' + result.biz_content[i].username + '</a></td>' +
                            '<td><a href="/UCenter/AddBank?id=' + result.biz_content[i].drawaccid + '">' + result.biz_content[i].cardnum + ' </a></td></tr>';
                    }
                    $(".main .content").prepend(html);
                }
            });
        });
    </script>


</body>
</html>