 
@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>历史走势</title>
    <link rel="stylesheet" type="text/css" href="~/newstatic/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="~/newstatic/css/history.css" />
    <link rel="stylesheet" type="text/css" href="~/newstatic/css/common.css" />
    <link rel="stylesheet" type="text/css" href="~/newstatic/css/footer.css" /> 
</HEAD>

<BODY> 
<header>
    <h2><span onclick="window.history.go(-1)"><i class="icon"></i></span>历史走势<select id="lotteryid" style="position:absolute;top:15px;right:10px;font-size: 12px;font-weight: normal;"><option value="10">北京PK10</option><option value="11">幸运飞艇</option></select></h2>
</header>
<div>
    <div class="table-head" style="overflow-x:hidden;">
        <table cellspacing="0" cellpadding="0" border="0"> 
            <thead>
            <tr>
                <td style="width: 13%;">期号</td>
                <td colspan="10" style="width: 55%;">开奖号码</td>
                <td colspan="3" style="width: 12%;">冠亚</td>
                <td colspan="5" style="width: 20%;">龙虎</td>
            </tr>

            <tr>
                <td style="width: 13%;"></td>
                <td style="width: 5.5%;">1</td>
                <td style="width: 5.5%;">2</td>
                <td style="width: 5.5%;">3</td>
                <td style="width: 5.5%;">4</td>
                <td style="width: 5.5%;">5</td>
                <td style="width: 5.5%;">6</td>
                <td style="width: 5.5%;">7</td>
                <td style="width: 5.5%;">8</td>
                <td style="width: 5.5%;">9</td>
                <td style="width: 5.5%;">10</td>
                <td colspan="3" style="width: 12%;"></td>
                <td style="width: 4%;">1</td>
                <td style="width: 4%;">2</td>
                <td style="width: 4%;">3</td>
                <td style="width: 4%;">4</td>
                <td style="width: 4%;">5</td>
            </tr>
            </thead>
        </table>
    </div>
    <div class="mid-table" style="overflow-x:hidden; ">
        <table cellspacing="0" cellpadding="0" border="0" style="">
            <tbody id="tableContent"> 
            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_footer")

<script src="~/newstatic/js/jquery-1.11.3.min.js"></script>
    <script src="/Scripts/resize.js"></script>
<script type="text/javascript">
    $(function ()
    {
        $('.footer a').removeClass("ft-on");
        $('.footer a:eq(2)').addClass("ft-on");
        $('.footer img').each(function ()
        {
            $(this).attr("src", $(this).attr("src").replace("1.", "."))

        })
        $('.footer img:eq(2)').attr("src", $('.footer img:eq(2)').attr("src").replace(".", "1."));
        GetHLottery();
        $('#lotteryid').change(function () { GetHLottery();});
    });

    function GetHLottery() {
        $.post('/lottery/GetLotteryResult',
            { type: $('#lotteryid').val(), page: 1, pagesize: 179 },
            function(data) {
                var result = eval('(' + data + ')'); 
                var html = "";
                if (result.state=="success"){
                    for (var i = 0; i < result.biz_content.length; i++) {
                        html += '<tr class="tr"><td style="width: 13%; font-size:' + ($('#lotteryid').val()==10?"7":"5") + 'px;">' + result.biz_content[i].expect + '</td>';
                        var nums = result.biz_content[i].orderresult.split(',');
                        var gyh = parseInt(nums[0]) + parseInt(nums[1]);
                        for (var j = 0; j < nums.length; j++) {
                            html += '<td style="width: 5.5%;"><span style="background:' + GetColor(parseInt(nums[j])) + ';">' + nums[j] + '</span></td>';
                        }
                        html += ' <td style="width: 4%;color:'+GetColor(gyh)+';">'+gyh+'</td>';
                        html += ' <td style="width: 4%;color:' + GetTextColor((gyh > 5 ? "大" : "小")) + ';">' + (gyh > 5 ? "大" : "小") + '</td>';
                        html += ' <td style="width: 4%;color:' + GetTextColor((gyh % 2 == 0 ? "双" : "单")) + ';">' + (gyh % 2 == 0 ? "双" : "单") + '</td>';
                        html += ' <td style="width: 4%;color:' + GetTextColor((nums[0] > nums[9] ? "龙" : "虎")) + ';">' + (nums[0] > nums[9] ? "龙" : "虎") + '</td>';
                        html += ' <td style="width: 4%;color:' + GetTextColor((nums[1] > nums[8] ? "龙" : "虎")) + ';">' + (nums[1] > nums[8] ? "龙" : "虎") + '</td>';
                        html += ' <td style="width: 4%;color:' + GetTextColor((nums[2] > nums[7] ? "龙" : "虎")) + ';">' + (nums[2] > nums[7] ? "龙" : "虎") + '</td>';
                        html += ' <td style="width: 4%;color:' + GetTextColor((nums[3] > nums[6] ? "龙" : "虎")) + ';">' + (nums[3] > nums[6] ? "龙" : "虎") + '</td>';
                        html += ' <td style="width: 4%;color:' + GetTextColor((nums[4] > nums[5] ? "龙" : "虎")) + ';">' + (nums[4] > nums[5] ? "龙" : "虎") + '</td>';
                        html += "</tr>";
                    }
                } 
                $('#tableContent').html(html);
            });
    }

   
</script>



</BODY>
</HTML>