@model List<OWZX.Model.MD_Bett> 
@{
    Layout = null;
}
<ul class="bet-detail">
    @foreach(OWZX.Model.MD_Bett info in Model)
    {
    <li>
        <h3>北京赛车   -- 862期   <span>-3000</span></h3>
        <table>
            <colgroup>
                <col style="width: 25%;" />
                <col style="width: 75%;" />
            </colgroup>
            <tbody>
                <tr><td>开奖号码：</td><td><span>9</span>,<span>4</span>,<span>2</span>,<span>5</span>,<span>6</span>,<span>3</span>,<span>7</span>,<span>8</span>,<span>1</span>,<span>10</span></td></tr>
                <tr><td>开奖类型：</td><td>小，双，虎</td></tr>
                <tr><td>投注号码：</td><td>1-3000</td></tr>
                <tr><td>投注金额：</td><td>3000</td></tr>
                <tr><td>中奖金额：</td><td>0</td></tr>
            </tbody>
        </table>
    </li>
    }

</ul>