@model List<OWZX.Model.MD_Bett> 
@{
    Layout = null;
}
<ul class="bet-detail">
    @foreach (OWZX.Model.MD_Bett info in Model)
    {
        <li>
            第一名1号车下注50021212元。
        </li>
       
    }

</ul>