<script src="~/newstatic/js/jquery-1.11.3.min.js"></script>
<footer>
   
    <ul class="footer">
        <li><a href="/home/index" class="ft-on"><img src="~/newstatic/img/first1.png" /><br />首页</a></li>
        <li><a href="/home/kfservice"><img src="~/newstatic/img/kefu.png" /><br />客服</a></li>
        <li><a href="/home/history"><img src="~/newstatic/img/zoushi.png" /><br />历史走势</a></li>
        <li><a href="/recharge/cqoperate?type=1"><img src="~/newstatic/img/zhuanqian.png" /><br />存取款</a></li>
        <li><a href="/ucenter/index"><img src="~/newstatic/img/my.png" /><br />我的</a></li>
        <li class="other">
            <div class="other-div">余额：<span class="bala-money">0.00</span></div>
            <div class="other-div">下注：<span class="bet-money">0.00</span></div>
        </li>
    </ul>
    <style>
        .tishi {width: 80%;
            position: fixed;
            top: 100%;
            left: 10%;
            background: #fff;
            z-index: 999;
            border-radius: 5px;
            text-align: center;
            padding-bottom: 1em;
        }

            .tishi .ts {
                line-height: 2em;
                border-bottom: #eee solid 1px;
                font-size: 1.2em;
                font-weight: 700;
            }

            .tishi .tsnr {
                line-height: 2em;
                margin: 1em .5em;
            }
    </style>
    <div class="betbg"></div>
    <div class="tishi">
        <div class="ts">提示</div>
        <div class="tsnr"></div>
        <div class="btn" style="width:80%;">确定</div>
    </div>
    <script type="text/javascript">
        $(function() {
            $(".tishi .btn").click(function () {
                $(".betbg").fadeOut(100);
                $(".tishi").animate({ top: "100%", marginTop: "0" }, 300);
            });

            $.get("/nwlottery/userbetmoney", function (data)
            {
                if (data != "")
                {
                    var my = data.split('|');
                    $(".bala-money").text(my[0]);
                    $(".bet-money").text(my[1]);
                }
            });

        });
        function tishi(nr){
            $(".betbg").fadeIn(100);
            $(".tsnr").html(nr);
            $(".tishi").animate({top:"50%",marginTop:"-3.5em"},300);
        };
        function GetColor(num) {
            switch (num) {
                case 1:
                    return "#EFAF03";
                case 2:
                    return "#2792F8";
                case 3:
                    return "#5D5D5D";
                case 4:
                    return "#F16E0C";
                case 5:
                    return "#38C8DA";
                case 6:
                    return "#6022F8";
                case 7:
                    return "#AEAEAE";
                case 8:
                    return "#F02624";
                case 9:
                    return "#C11208";
                case 10:
                    return "#27B309";
                default:
                    return "#EFAF03";
            };
        }
        function GetTextColor(num) {
            switch (num) {
                case "大":
                case "双":
                case "虎":
                    return "red";
                case "小":
                case "单":
                case "龙":
                    return "dodgerblue";
                default:
                    return "dodgerblue";
            };
        }
    </script>
</footer>