<footer>
    <ul class="footer">
        <li><a href="index.html" class="ft-on"><img src="~/newstatic/img/first1.png" /><br />首页</a></li>
        <li><a href="kefu.html"><img src="~/newstatic/img/kefu.png" /><br />客服</a></li>
        <li><a href="history.html"><img src="~/newstatic/img/zoushi.png" /><br />历史走势</a></li>
        <li><a href="Change/index.html"><img src="~/newstatic/img/zhuanqian.png" /><br />存取款</a></li>
        <li><a href="User/index.html"><img src="~/newstatic/img/my.png" /><br />我的</a></li>
        <li class="other">
            <div class="other-div">余额：<span class="bala-money">0.00</span></div>
            <div class="other-div">下注：<span class="bet-money">0.00</span></div>
        </li>
    </ul>
</footer>